.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__group-items
      %h2.Chat-main__group-info__group-items__current-group taka
      %p.Chat-main__group-info__group-items__group-member Menber : taka
    .Chat-main__group-info__edit-btn
      = link_to "Edit", "#", class: "edit-btn"
  .Chat-main__message-list
  .Chat-main__message-form