.Side-bar
  .user-name
    .user-name__top-items
      %p.user-name__top-items__name taka
      %ul.user-name__top-items__top-icons
        %li
          = link_to "#", class: "edit-btn" do
            = icon('far', 'edit')
        %li
          = link_to "#", class: "cog-btn" do
            = icon('fa', 'cog')
  .group-list
    .group-list__user-group
      .group-list__user-group__group-name Grop 1
      .group-list__user-group__new-message まだメッセージはありません
    .group-list__user-group
      .group-list__user-group__group-name Grop 2
      .group-list__user-group__new-message まだメッセージはありません
    