.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__top-items
      %p.Side-bar__user-name__top-items__name taka
      %ul.Side-bar__user-name__top-items__top-icons
        %li
          = link_to "#", class: "Side-bar__user-name__top-items__top-icons__btn" do
            = icon('far', 'edit')
        %li
          = link_to "#", class: "Side-bar__user-name__top-items__top-icons__btn" do
            = icon('fa', 'cog')
  .Side-bar__group-list
    .Side-bar__group-list__user-group
      .Side-bar__group-list__user-group__group-name Grop 1
      .Side-bar__group-list__user-group__new-message まだメッセージはありません
    .Side-bar__group-list__user-group
      .Side-bar__group-list__user-group__group-name Grop 2
      .Side-bar__group-list__user-group__new-message まだメッセージはありません
    